.title{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    height: 200px;
    width: 240px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 84, 162);
    height: 100%;
}
.navbutton{
    font-size: 40px;
    font-weight: 100;
    background-color: aliceblue;
    border: 4px;
    border-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}