.title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 5%;
    margin-top: 1%;
}
.logo{
    height: 200px;
    width: 240px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 84, 162);
    height: 75px;
    border-radius: 5px;
}
.navbutton{
    font-size: 40px;
    font-weight: 100;
    border: 4px;
    margin-left: 1%;
    margin-right: 1%;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbutton:hover{
    color: rgb(168, 177, 228);
    text-decoration: underline;
    
}
.textTitlenav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);

}
.textTitle{
color: white;
}
.bodyparagraph{
    display: flex;
    flex-direction: column;
  align-items: center;  
  text-align: center;
  margin-top: 2%;
}
.HomeParagraph{
  display: flex;
  align-items: center;  
  text-align: center;
  line-height: 1.8;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 84, 162);
    
}